/*mixin exmple*/
@define-mixin icon $network, $color: blue {
    .icon.is-$(network) {
        color: $color;
        @mixin-content;
    }
    .icon.is-$(network):hover {
        color: white;
        background: $color;
    }
}

@mixin icon twitter {
    background: red;
}
@mixin icon youtube, red {
    background: red;
}

/*mixin*/
/*@define-mixin betascreen $min, $max {
    @media screen and (min-width: $(min)) and (max-width: $(max)) {
        @mixin-content;
    }
}
@mixin betascreen 300px,500px{
    color: blue;
}*/

@define-mixin betascreen $max {
    @media screen and (max-width: $(max)) {
        @mixin-content;
    }
}

/*for*/
@for $i from 500 to 300 by 100 {
    @mixin betascreen $(i)px{
        .a{
            width: calc($(i)+50)px;
            .b{
                width: calc($(i)+10)px;
            }
        }
    }
}

*{ background: #e6e6e6; margin: 0px; padding: 0px;}
.a{
    background: red;
    display: flex;
    font-size: 30px;
    .b{
        background: blue;
        left: center;
    }
 }
